<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Глобальное потеление: проблемы и последствия</title>
  </head>
  <body>
    <header>
      <h1>Глобальное потеление: проблемы и последствия</h1>
    </header>
    <main>
      <iframe src="https://www.meteoblue.com/en/weather/widget/daily?geoloc=detect&days=4&tempunit=CELSIUS&windunit=METER_PER_SECOND&precipunit=MILLIMETER&coloured=coloured&pictoicon=0&pictoicon=1&maxtemperature=0&maxtemperature=1&mintemperature=0&mintemperature=1&windspeed=0&windspeed=1&windgust=0&windgust=1&winddirection=0&winddirection=1&uv=0&uv=1&humidity=0&humidity=1&precipitation=0&precipitation=1&precipitationprobability=0&precipitationprobability=1&spot=0&spot=1&pressure=0&pressure=1&layout=light"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 216px; height: 466px"></iframe>
        <section>
          <h2>Что такое глобальное потеление?</h2>
          <p>Глоба́льное потепле́ние — долгосрочное повышение средней температуры климатической системы Земли, происходящее уже более века, основной причиной чего, по мнению подавляющего большинства учёных, является человеческая деятельность.</p>
          <img src="../static/img/pot.png" alt="потеление">
        </section>
        <section>
          <h2>Причины глобального потепления</h2>
          <p>Ископаемые виды топлива — уголь, нефть и газ — вносят наибольший вклад в глобальное изменение климата: на их долю приходится свыше 75 процентов глобальных выбросов
             парниковых газов и почти 90 процентов всех выбросов углекислого газа.</p>
          <p>Покрывая Землю, выбросы парниковых газов задерживают солнечное тепло. Это приводит к глобальному потеплению и изменению климата. 
             В настоящее время планета нагревается быстрее, чем когда-либо в истории человечества.</p>
        </section>
        <section>
          <h2>Последствия глобального потепления</h2>
          <p>С 1980-х годов каждое десятилетие было теплее предыдущего. Ученые говорят, что повышение температуры планеты до 2 градусов приведет к катастрофе: будут проблемы с сельским хозяйством, умрет ряд животных,затронет потепление все экосистемы.В разных частях планеты обострятся погодные аномалии, которые также отразятся на жизни людей. Ученые ожидают, что в некоторых частях света будет меньше дождей, а в другой их станет больше, в третьей части осадков будет столько же, но будут они более сильными и кратковременными. Такие аномалии будут вызывать засуху и наводнения.</p>
        </section>
        <section>
          <button class="green-button"><a href="/two">Глобальное потепление. Как же с ним боротся?</a></button> 
        </section>
    </main>
    <footer>
      <p>© 2024 Ecology Website. All rights reserved.</p>
    </footer>
  </body>
</html>