<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Глобальное потепление. Как же с ним боротся?</title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <header>
      <h1>Так как же боротся с глобальным потеплением?</h1>
    </header>
    <main>
      <h2>  Для борьбы с глобальным потеплением необходимо принять следующие меры: </h2>
      
      <section>
      <h2>1. Улучшайте ваш транспорт</h2> 
      <p>
        На долю транспорта приходится около четверти всех выбросов парниковых газов, поэтому многие правительства мира проводят политику сокращения выбросов углекислого газа. 
        Вы можете начать с того, что оставите машину дома и, по возможности, будете передвигаться пешком или на велосипеде. Для слишком больших расстояний выбирайте общественный транспорт, отдав предпочтение электротранспорту. Если вам необходимо куда-то поехать, предложите другим совместный проезд, чтобы на дорогах было меньше автомобилей. Опередите события и купите электромобиль. Сократите перелеты на дальние расстояния.  
      </p>

      <img src="../static/img/mas.jpg" alt="машина">
      </section>
      
      <section>
      <h2>2. Сокращайте электропотребление</h2>
      <p>
        Если это возможно, выбирайте поставщика энергии, который добывает ее из возобновляемых источников энергии, или достигшего углеродной нейтральности. Установите на крыше дома солнечные панели. Будьте бережливы и по возможности убавьте отопление на пару градусов. Выключайте неиспользуемые приборы и освещение, а лучше всего сразу купите энергоэффективные приборы. 
        Изолируйте чердак или крышу: зимой вы будете в тепле, а летом – в прохладе и сэкономите средства.
      </p>

      <img src="../static/img/dota2.jpg" alt="лампочка">

      </section>
      <section>
      <h2>3. Берегите продукты питания</h2>
       <p>
        Одна треть всего произведенного продовольствия портится или выбрасывается. Человечество ежегодно выбрасывает один миллиард тонн продовольствия, что является причиной около 8-10 процентов глобальных выбросов парниковых газов. Берегите продукты питания, покупая только самое необходимое. Используйте все съедобные части купленного продукта, правильно храните готовую еду, творчески используйте остатки, делитесь избытком с друзьями и соседями и поддержите местную систему совместного использования продуктов питания. 
        Компостируйте очистки и остатки для удобрения вашего сада.
       </p>

       <img src="../static/img/mmm_vkysno.jpg" alt="еда">
      </section>

        <section>
       <h2>4. Сажайте деревья</h2>
       <p>Ежегодно уничтожается примерно 12 миллионов гектаров лесов, при этом вырубка лесов вместе с сельским хозяйством и другими формами землепользования несут ответственность примерно за 25 процентов мировых выбросов парниковых газов. 
        Нам всем под силу остановить и обратить вспять эту тенденцию, сажая деревья как в одиночку, так и коллективно. Например, инициатива «Сажай деревья ради планеты» дает людям возможность проспонсировать посадку деревьев по всему миру.
       </p>
       <img src="../static/img/yra.jpg" alt="деревья">
       </section>

       <section>
       <h2>5. Сфокусируйтесь на дружественных для планеты инвестициях</h2>
       <p>Каждый человек может поддержать перемены с помощью своих сбережений и инвестиций, выбирая те финансовые институты, которые не инвестируют в загрязняющие атмосферу углеродным газом отрасли. Это дает четкий сигнал рынку, и уже многие финансовые институты предлагают более этичные инвестиции, что позволяет вам использовать ваши деньги для поддержки проектов, в которые вы верите, и избегать те, которым вы не верите.
        Вы можете узнать в вашем финансовом институте об ответственной банковской политике, а также о том, какое место они занимают в независимых исследованиях.
       </p>
       <img src="../static/img/planeta.png" alt="планета">
       </section>
    </main>
    <footer>
      <p>© 2024 Ecology Website. All rights reserved.</p>
    </footer>
  </body>
</html>